@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    font-family: "VT323", sans-serif;
}

.custom-img{
    background-image: url('../public/hero1.png')
}

.custom-img-2{
    background-image: url('../public/hero2.png')
}
