@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    button {
       @apply bg-white hover:bg-black hover:text-white hover:border-white
    }
}

html{
    scroll-behavior: smooth;
    font-family: "VT323", sans-serif;
}

.scroll-top {
    scroll-padding-top: 5rem;
}

.custom-img{
    background-image: url('../public/hero.png')
}

.custom-img-2{
    background-image: url('../public/hero2.png')
}

.custom-img-3{
    background-image: url('../public/bgXs.png')
}

.custom-img-4{
    background-image: url('../public/bgMobileXs.png')
}

.spinning-text{
    animation: spin 50s linear infinite;
}

.spinning-text span {
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 300px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loguitox {
    animation: spinX 5s linear infinite;
    transition: opacity 0.5s;

    
}


@keyframes spinX {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}