@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    font-family: "VT323", sans-serif;
}

.scroll-top {
    scroll-padding-top: 5rem;
}

.custom-img{
    background-image: url('../public/hero.png')
}

.custom-img-2{
    background-image: url('../public/hero2.png')
}

.custom-img-3{
    background-image: url('../public/bgXs.png')
}

.custom-img-4{
    background-image: url('../public/bgMobileXs.png')
}